.meal-planner-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.meal-planner-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.input-field, .select-field {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.submit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.saved-combinations {
    margin-top: 30px;
}

.combination-item {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.food-list {
    margin-left: 20px;
}

.food-item {
    margin-bottom: 5px;
}

/* New styles for the pop-up card */
.popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 20px;
    max-height: 80%;
    overflow-y: auto;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: black;
}

.popup-content {
    max-height: 300px;
    overflow-y: auto;
}

.meal-item {
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.meal-item:last-child {
    border-bottom: none;
}

.add-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #218838;
}

.ingredients{
    
}

.dish-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .meal-planner-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.meal-planner-table th,
.meal-planner-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.meal-planner-table th {
  background-color: #f4f4f4;
}

.error-message {
  color: red;
  margin-top: 10px;
}
